<div class="addMovie">
    <h2 class="addMovie__title"># Ajouter ou modifier un film</h4>
        <form class="addMovie__form">
            <input required type="text" name="name" placeholder="Saisir une titre" required>
            <input required type="text" name="director" placeholder="Saisir un Réalisateur" required>
            <input required type="number" name="year" placeholder="anné de sortie" required>
            <input required type="number" name="length" placeholder="Saisir une durée" required>
            <input required type="text" name="description" placeholder="Saisir une description" required>
            <input required type="text" name="image" placeholder="Saisir l'image" required>

            <select name="id_category" required>
                <option value="1">Action</option>
                <option value="2">Comédie</option>
                <option value="3">Drame</option>
                <option value="4">Science-fiction</option>
                <option value="5">Animation</option>
                <option value="6">Thriller</option>
                <option value="7">Horreur</option>
                <option value="8">Aventure</option>
                <option value="9">Fantaisie</option>
                <option value="10">Documentaire</option>
            </select>
           

            <input required type="url" name="trailer" placeholder="Saisir un url" required>
            <input required type="number" name="min_age" placeholder="Saisir un âge"  min="0" max="120" required>

            <input onclick="{{handler}}" type="button" value="Update" name="todo">
        </form>
</div>.