@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: #ccc;
  --color-gray: #aaa;
  --color-gray-dark: #1a1a1a;
  --color-gray-dark-hover: #202020;
  --color-yellow: #FFD400;
  --ff-sans: "Montserrat", sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  --color-bg-comment: var( --color-gray-dark);
  --color-text: var(--color-yellow);
  --color-fg_secondary: var(--color-gray);
  --color-text-secondary: var(--color-gray-light);
  --color-bg--commen-hover: var(--color-gray-dark-hover)
}
