<p class="rating__avg">Note moyenne : <span id="rating-avg">--</span>/5</p>
<div class="rating__stars" id="rating-stars">
    <span class="rating__star" onclick="C.handlerRating({id}, 1)">★</span>
    <span class="rating__star" onclick="C.handlerRating({id}, 2)">★</span>
    <span class="rating__star" onclick="C.handlerRating({id}, 3)">★</span>
    <span class="rating__star" onclick="C.handlerRating({id}, 4)">★</span>
    <span class="rating__star" onclick="C.handlerRating({id}, 5)">★</span>
</div>
<p class="rating__user" id="rating-user"></p>