.moviedetail {
    .moviedetail__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .moviedetail__top {
        justify-content: left;
    }

    .moviedetail__title {
        flex-direction: row;
        justify-content: left;
    }

    .moviedetail__info {}


    .moviedetail__img {
        width: 50%;
        object-fit: cover;
        justify-content: left;
        border-radius: 0.25rem;

    }

    .moviedetail__trailer {
    }

}