.moviedetail {

    .moviedetail__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .moviedetail__top {
        display: flex;
        gap: 1.25rem;
        margin-bottom: 2rem;

    }

    .moviedetail__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moviedetail__name {
        font-size: 2rem;
        margin-bottom: 0.75rem;
    }

    .moviedetail__info {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }


    .moviedetail__img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5;

    }

    .moviedetail__trailer {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 0.25rem;
    }

}






