<div class="moviedetail font-sans">
    <div class="moviedetail__top">
        <div class="moviedetail__left">
            <h2 class="moviedetail__name">{{name}}</h2>
            <p class="moviedetail__director">{{director}}</p>
            <div class="moviedetail__info">
                <span class="moviedetail__age">{{min_age}}+</span>
                <span class="moviedetail__year">{{year}}</span>
            </div>
            <p class="moviedetail__description">{{description}}</p>
        </div>
        <div class="moviedetail__right">
            <img class="moviedetail__img" src="{{image}}" alt="img">
            <label class="favorite__label">
                <input type="checkbox" class="favorite__btn" onchange="C.handlerToggleFavorite({id})" />
                <span class="favorite__add">Ajouter aux favoris</span>
                <span class="favorite__remove">Retirer des favoris</span>
            </label>
        </div>
    </div>
    <iframe class="moviedetail__trailer" src="{{trailer}}" frameborder="0"></iframe>

    <div class="moviedetail__rating">{{rating}}</div>
    <div class="moviedetail__comment">{{comment}}</div>
</div>