.featured {
    width: 100%;
    height: 24rem;
    background-color: var(--color-bg);
    overflow: hidden;
    position: relative;
}

.featured__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding-top: 4.5rem;
}

.featured__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4.5rem;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.featured__text {
    position: absolute;
    top: auto;
    bottom: 1.5rem;
    left: 1rem;
    z-index: 3;
}

.featured__name {
    color: var(--color-fg);
    max-width: 90%;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.featured__description {
    color: var(--color-text);
    font-size: 0.85rem;
    margin-bottom: 0.9rem;
    font-weight: bold;
    max-width: 90%;
}

.featured__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.featured__item {
    min-width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
}

.featured__content {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 44rem) {
    .featured {
        height: 37rem;
    }

    .featured__overlay {
        background: linear-gradient(to right,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 0) 70%);
    }

    .featured__text {
        top: 20%;
        bottom: auto;
        left: 5%;
    }

    .featured__name {
        font-size: 2.5rem;
        max-width: 40%;
    }


    .featured__description {
        font-size: 1rem; 
        max-width: 30rem;
    }
}