<div class="stats">
    <h2 class="stats__title">Statistiques</h2>

    <div class="stats__grid">
        <div class="stats__card">
            <p class="stats__info">Profils créés:</p>
            <p class="stats__number">{{total_profiles}}</p>
        </div>
        <div class="stats__card">
            <p class="stats__info">Films au total:</p>
            <p class="stats__number">{{total_movies}}</p>
        </div>
        <div class="stats__card">
            <p class="stats__info">Films favoris en moyenne par profil:</p>
            <p class="stats__number">{{avg_favorites}}</p>
        </div>
        <div class="stats__card">
            <p class="stats__info">Film le plus ajouté aux favoris:</p>
            <p class="stats__number">{{most_favorited}}</p>
        </div>
        <div class="stats__card">
            <p class="stats__info">Catégorie la plus populaire:</p>
            <p class="stats__number">{{most_popular_category}}</p>
        </div>
    </div>
</div>