.addProfile {
    max-width: 30rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;

    .addProfile__title {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 1.5rem 0;
    }

    .addProfile__form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .addProfile__info {
        width: 100%;
        padding: 0.6rem 0.9rem;
        font-size: 0.95rem;
        background: #f9fafb;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;

    }

    .addProfile__form select {
        cursor: pointer;
        appearance: none;
        padding-right: 2.25rem;
    }


    .addProfile__button {
        padding: 0.6rem;
        font-size: 0.95rem;
        font-weight: 500;
        background: black;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 0.25rem;
        transition: background 0.15s, transform 0.1s;
    }

    .addProfile__button:hover {
        background: #374151;
    }



}