<div class="addProfile">
    <h4 class="addProfile__title"># Ajouter un profil</h4>
    <form class="addProfile__form">
        <input class="addProfile__info" required type="text" name="name" placeholder="Nom du profil">
        <input class="addProfile__info" required type="text" name="avatar" placeholder="Icon d'avatar">
        <input class="addProfile__info" required type="number" name="min_age" placeholder="âge recquis">

        <input class="addProfile__button" onclick="{{handler}}" type="button" value="Update" name="todo">
    </form>
</div>